body {
    background-image: url(santa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.h1 {
    text-align: center;
    color: darkred;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 2px;
    animation: typing 10s steps(12) 2s forwards;
}

.p {
    margin: 5px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    color: darkgreen;
    font-weight: bolder;
}

.spanForP {
    margin: 0;
    text-align: center;
    float: left;
    color: darkred;
    font-size: 40px;
    line-height: 50px;
    font-family: "Roboto Slab", serif;
}

.h3 {
    margin-left: 300px;
}

.registrationDiv {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
}

.divForRadio {

}

.formRegistration {
    padding-right: 50px;

}

.labelLogin {
    display: block;
}

.labelPassword {
    display: block;
}

.labelName {
    display: block;
}

.divForSelect {
    width: 400px;
}

.labelCity {
    display: block;
}